---

import "../styles/global.css";
import AboutMe from '@/components/landing/AboutMe.astro';
import Header from '@/components/landing/Header.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Xavier Canchal | Full-stack Software Engineer & Solopreneur</title>
	</head>

	<body>
		<main class="flex flex-col gap-10 sm:gap-12 max-w-[620px] mx-auto py-16 px-6 sm:px-0">
			<Header />
			<AboutMe />
		</main>
	</body>
</html>
